* {
  margin: 0;
  padding: 0;
}
.main_div {
  height: 103vh;
  width: 103vw;
  display: flex;
  background-color: pink;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 1s ease-in-out;

}
.text {
  font-family: "Rubik Bubbles", serif;
  font-weight: 400;
  font-style: normal;;
    font-size: 36px;
    color: #c8386d;
    height: 70vh;
    transition: all 1.3s ease-in-out;
}
.btn_div {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
}
.btn {
  top: -240px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik Bubbles", serif;
  font-weight: 400;
  font-style: normal;
    width: 120px;
  height: 70px;
  color: #ffffff;
  position: absolute;
  border-radius: 24px;
  border: none;

  transition: all 0.3s ease-in-out;
}
.btn_1 {
  left: -170px;
  background-color: #963094;
  box-shadow: -1px 4px 15px 11px #96309433;

}
.btn_2 {
  left: 38px;
  background-color: #d83636;
  box-shadow: -1px 4px 15px 11px #d8363633;

}
.photo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: justify;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(12, 4, 5);

    background: url(photo.jpg) no-repeat center;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
.last{
  font-size: 48px !important;
  font-weight: 600 !important;
  background: none !important;
  line-height: 50px !important;
  -webkit-text-fill-color: rgb(255, 0, 0);

  color:red;
  /* transition: all 2s ease-out; */
  transform: scale(2);
 
  animation: 1s infinite pepa;

}
.last2{
  transition: all 2s ease-out;
  opacity: 1 !important;

}
 @keyframes pepa{
  0% {
    transform: scale(2);

  }
  50% {
    transform: scale(5);

  }
  100% {
    transform: scale(2);

  }
 }